@charset "UTF-8";
*, ::before, ::after {
  padding: 0;
  margin: 0;
  /*在移动端的设置*/
  /*清除点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置盒子宽度从边框计算*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-appearance: none
}
ul, ol, li {
  list-style: none;
}
// @font-face {
//   font-family: 'FuturaStd-Book';
//   src: url("../fonts/FuturaStd-Book.otf");
// }
// @font-face {
//   font-family: 'SourceHanSansCN-Light';
//   src: url("../fonts/SourceHanSansCN-Light.otf");
// }
// @font-face {
//   font-family: 'SourceHanSansCN-Regular';
//   src: url("../fonts/SourceHanSansCN-Regular.otf");
// }
// @font-face {
//   font-family: 'FuturaStd-Light';
//   src: url("../fonts/FuturaStd-Light.otf");
// }
// @font-face {
//   font-family: 'SourceHanSansCN-ExtraLight';
//   src: url("../fonts/SourceHanSansCN-ExtraLight.otf");
// }