<template>
  <div class="dw_home">
    <div class="dw_home_title"></div>
    <div class="dw_home_content">
      <div class="dw_home_content_title">
        <p></p>
        <P></P>
        <P></P>
        <p></p>
      </div>
      <div class="dw_backVideo">
      </div>
    </div>
    <div class="dw_home_footer">
      <div class="dw_home_footer_title" @click="$router.push({'name': 'ShowWatch'})">
        <p></p>
      </div>
      <div class="dw_home_footer_circle">
        <i></i><i></i><i></i>
        <span></span>
      </div>
      <div class="dw_lightPoint"></div>
    </div>
  </div>
</template>
<style scoped lang="scss">
@function fmt ($val) {
  @return ($val/200)+rem;
}
  .dw_home {
    height: 100%;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .dw_home_title {
    padding-top: fmt(160);
    padding-bottom: fmt(120);
    font-size: fmt(24);
    font-weight: bolder;
    letter-spacing: fmt(5);
    font-family: 'SourceHanSansCN-Regular';
    background: url("../assets/images/logo.png") no-repeat center center;
    background-size: fmt(400) auto;
  }
  @keyframes dw_fadeUp {
    from {
      opacity: 0;
      transform: translateY(fmt(30));
    }
  }
  .dw_home_content {
    // font-size: fmt(90);
    // font-family: 'FuturaStd-Book';
    text-align: center;
    position: relative;
    .dw_home_content_title {
      @for $i from 1 through 4 {
        >p:nth-of-type(#{$i}) {
          animation: dw_fadeUp 1.5s 0.5s + 0.5 * $i backwards;
        }
        > p {
          height: fmt(90);
          margin-bottom: fmt(20);
        }
        > p:nth-of-type(1) {
          background: url("../assets/images/z1.svg") no-repeat center center;
          background-size: auto 100%;
        }
        > p:nth-of-type(2) {
          background: url("../assets/images/z2.svg") no-repeat center center;
          background-size: auto 100%;
        }
        > p:nth-of-type(3) {
          background: url("../assets/images/z3.svg") no-repeat center center;
          background-size: auto 100%;
        }
        > p:nth-of-type(4) {
          background: url("../assets/images/aini.svg") no-repeat center center;
          background-size: auto 100%;
        }
        // > p {
        //   font-family: 'FuturaStd-Book';
        //   font-size: fmt(100);
        //   &:last-of-type {
        //     font-family: 'SourceHanSansCN-Light';
        //     font-size: fmt(40);
        //     padding-top: fmt(30);
        //   }
        // }
      }
      position: relative;
      z-index: 1;
    }
    .dw_backVideo {
      position: absolute;
      top: fmt(-80);
      right: 0;
      left: 0;
      height: 50vh;
      background: url("../assets/images/homeback.jpg") no-repeat top left;
      background-size: cover;
      overflow: hidden;
      z-index: 0;
      // video {
      //   width: 100%;
      // }
    }
  }
  .dw_home_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fmt(300);
    .dw_home_footer_title {
      // font-family: 'SourceHanSansCN-Regular';
      // font-size: fmt(24);
      // padding-top: fmt(68);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: fmt(170);
      height: fmt(170);
      margin: auto;
      z-index: 4;
      > p {
        width: 100%;
        // line-height: fmt(30);
        height: 100%;
        background: url("../assets/images/anniu.svg") no-repeat center center;
        background-size: 250% 100%;
        &:first-of-type {
          animation: dw_fadeUp 1s 3.5s backwards;
        }
      }
    }
    .dw_home_footer_circle {
      width: fmt(170);
      height: fmt(170);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      &::after {
        content: '';
        position: absolute;
        top: fmt(170);
        right: 0;
        left: 0;
        margin: auto;
        width: fmt(6);
        height: fmt(0);
        background-image: -webkit-linear-gradient(to bottom, #cc9986, #fceed6);
        background-image: linear-gradient(to bottom, #cc9986, #fceed6);
        animation: dw_circle_line 2.5s 5s infinite;
      }
      @keyframes dw_circle_line {
        50% {
          height: 0;
        }
        100%{
          height: fmt(130);
        }
      }
      > i {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        z-index: 1;
        border: fmt(6) solid #e4c0ad;
      }
      > span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        // border-radius: 50%;
        // background: -webkit-linear-gradient(to bottom right, #fceed6, #cc9986);
        // background: linear-gradient(to bottom right, #fceed6, #cc9986);
        // -webkit-mask: -webkit-radial-gradient(transparent fmt(78), #000 0);
        // mask: radial-gradient(transparent fmt(78), #000 0);
        background: url("../assets/images/circle.png") no-repeat center center;
        background-size: cover;
        animation: dw_fadeUp 1s 3s backwards;
      }
      @keyframes circleShow {
        0% {
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        100% {
          transform: scale(1.6);
          opacity: 0;
          border-width: 0;
        }
      }
      @for $i from 1 through 3 {
        > i:nth-of-type(#{$i}) {
          animation: circleShow 3s 3.5s + .5 * $i both infinite;
        }
      }
    }
    @keyframes dw_ligthPoint_fadeIn {
      from {
        opacity: 0;
      }
    }
    @keyframes dw_ligthPoint_rotate {
      50% {
        transform: rotate(360deg);
        top: 0;
      }
      100% {
        transform: rotate(360deg);
        top: fmt(130);
      }
    }
    @keyframes dw_ligthPoint_flash {
      to {
        transform: scale(1.2);
      }
    }
    .dw_lightPoint {
      width: fmt(170);
      height: fmt(170);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      z-index: 3;
      animation: dw_ligthPoint_fadeIn 0s 5s backwards, dw_ligthPoint_rotate 2.5s 5s infinite;
      &::before {
        content: '';
        position: absolute;
        width: fmt(4);
        height: fmt(4);
        background: #fbf2d9;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        box-shadow: 0 0 fmt(10) fmt(6) #fbf2d9;
        animation: dw_ligthPoint_flash .1s infinite;
      }
    }
  }
</style>
