<template>
  <div class="dw_sn_all">
    <div class="dw_gif"><img src="../assets/images/topGif.gif" ref="topgif1" class="hiddle"></div>
    <div class="dw_sn_title"></div>
    <div class="dw_sn_container">
      <img src="../assets/images/watchback.png" alt="">
      <div class="dw_wbMask">
        <img src="../assets/images/wbSerial.png" alt="">
      </div>
      <div class="dw_wbLight">
        <img src="../assets/images/wbTop.png" alt="">
        <img src="../assets/images/wbBottom.png" alt="">
      </div>
    </div>
    <div class="dw_sn_serialNo">
      <div>
        <div>
          <img src="../assets/images/btnGif1.gif" alt="" ref="topgif2" class="hiddle">
          <input type="text" v-model.trim.lazy="serialNumber" maxlength="11" @focus="placeholder = false" @blur="placeholder = serialNumber? false: true">
          <img src="../assets/images/btnGif2.gif" alt="" ref="topgif3" class="hiddle">
          <i v-show="placeholder"></i>
        </div>
      </div>
      <p>
        <span v-show="!showNext && serialNumber"><!--{{ message }}}--></span>
      </p>
    </div>
    <aside class="slideUpTip">
      <p><i></i><i></i></p>
      <p><i></i><i></i></p>
    </aside>
    <div class="dw_sn_footer" v-show="showNext">
      <div class="dw_sn_footer_title" v-on:click="playAudio">
        <p></p>
      </div>
      <div class="dw_sn_footer_circle">
        <i></i><i></i><i></i>
        <span></span>
      </div>
      <div class="dw_lightPoint"></div>
      <audio class="dw-audio" :src="audioUrl" ref="audio"></audio>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'

  const getAudioUrl = 'https://dev-api-internal.danielwellington.com/media/getMedia'
  const search = serialNo => axios.post(getAudioUrl, { serialNumber: serialNo })

  const text = {
    wait: '正在查询 请稍后',
    error: 'SERIAL CODE输入有误 请重新输入'
  }

  export default {
    data () {
      return {
        serialNumber: null,
        showNext: false,
        placeholder: true,
        timer: null,
        audioUrl: null,
        message: text.error
      }
    },
    watch: {
      serialNumber: function (val) {
        this.message = text.wait
        search(val).then(response => {
          if (response.data.statusCode === 200) {
            this.audioUrl = response.data.body
            this.showNext = true
          } else {
            this.showNext = false
            this.message = text.error
          }
        })
      }
    },
    mounted () {
      this.toggleshowGif()
    },
    destroyed () {
      clearInterval(this.timer)
    },
    methods: {
      playAudio () {
        this.$refs.audio.play()
      },
      toggleshowGif () {
        var countNum = 0
        var newgif1 = this.$refs.topgif1.src
        var newgif2 = this.$refs.topgif2.src
        var newgif3 = this.$refs.topgif3.src
        this.timer = setInterval(() => {
          countNum++
          switch (countNum) {
            case 1:
              this.$refs.topgif1.className = ''
              this.$refs.topgif1.src = newgif1
              break
            case 4:
              this.$refs.topgif2.className = ''
              this.$refs.topgif2.src = newgif2
              break
            case 6:
              this.$refs.topgif3.className = ''
              this.$refs.topgif3.src = newgif3
              break
          }
          if (countNum > 7) {
            countNum = 0
            this.$refs.topgif1.className = 'hiddle'
            this.$refs.topgif2.className = 'hiddle'
            this.$refs.topgif3.className = 'hiddle'
          }
        }, 1000)
      }
    }
  }
</script>
<style scoped lang="scss">
@function fmt ($val) {
  @return ($val/200)+rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
.dw_sn_all {
  height: 100%;
  overflow: hidden;
  color: #fff;
  text-align: center;
  position: relative;
}
.dw_gif {
  position: absolute;
  width: 100%;
  height: fmt(400);
  img {
    width: auto;
    height: 100%;
    position: relative;
    &.hiddle {
      z-index: -1;
    }
  }
}
.dw_sn_title {
  padding-top: fmt(160);
  padding-bottom: fmt(120);
  font-size: fmt(24);
  font-weight: bolder;
  letter-spacing: fmt(5);
  font-family: 'SourceHanSansCN-Regular';
  background: url("../assets/images/logo.png") no-repeat center center;
  background-size: fmt(400) auto;
}
.dw_sn_container {
  position: absolute;
  top: fmt(160);
  width: 100%;
  height: auto;
  animation: fadeIn 2s 3s backwards;
  > img {
    width: 100%;
    vertical-align: middle;
  }
  > .dw_wbMask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    > img {
      width: 100%;
      height: 100%;
      animation: hiddenMask 1s 4s backwards;
    }
  }
  @keyframes dw_wbLight1 {
    from {
      opacity: 0;
    }
    to {
      bottom: 41%;
      right: 40%;
    }
  }
  @keyframes dw_wbLight2 {
    from {
      opacity: 0;
    }
    to {
      left: 48%;
      bottom: 20%;
    }
  }
  > .dw_wbLight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    > img {
      height: 8%;
      position: absolute;
      &:first-of-type {
        bottom: 33%;
        right: 0;
        animation: dw_wbLight1 1.6s 4s both;
      }
      &:last-of-type {
        left: 24%;
        bottom: 26%;
        animation: dw_wbLight2 1.6s 4s both;
      }
    }
  }
}
@keyframes hiddenMask {
  from {
    opacity: 0;
    // transform: translateY(fmt(20));
  }
}
.dw_sn_serialNo {
  position: absolute;
  bottom: fmt(240);
  width: 100%;
  animation: fadeIn 1.5s 4.5s backwards;
  > div {
    display: flex;
    justify-content: center;
    height: fmt(80);
    > div {
      width: fmt(400);
      height: fmt(80);
      position: relative;
      display: flex;
      > img {
        position: absolute;
        &.hiddle {
          z-index: -1;
        }
        &:first-of-type {
          left: fmt(-60);
          bottom: fmt(-20);
          width: fmt(350);
        }
        &:last-of-type {
          right: fmt(-80);
          top: fmt(-30);
          width: fmt(350);
        }
      }
      > input {
        display: inline-block;
        width: fmt(400);
        background: rgba(207, 134, 140, .2);
        height: fmt(80);
        outline: none;
        border: none;
        border-radius: fmt(20);
        color: #fff;
        font-size: fmt(28);
        // font-family: 'FuturaStd-Book';
        text-align: center;
        position: relative;
        z-index: 3;
      }
      > i {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: url("../assets/images/xu1.svg") no-repeat center center;
        background-size: cover;
      }
    }
  }
  > p {
    // display: flex;
    // justify-content: center;
    height: fmt(90);
    // font-family: 'SourceHanSansCN-Light';
    // font-size: fmt(24);
    // color: #854958;
    // line-height: fmt(80);
    // transform: scale(0.8);
    > span {
      display: block;
      height: 100%;
      width: 100%;
      background: url("../assets/images/xu2.svg") no-repeat center center;
      background-size: cover;
    }
  }
}
@keyframes dw_fadeUp1 {
  80% {
    opacity: 1;
    transform: translateY(fmt(-30));
  }
  100% {
    opacity: 1;
    transform: translateY(fmt(-30));
  }
}
@keyframes dw_fadeUp2 {
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(fmt(-30));
  }
}
.slideUpTip {
  position: absolute;
  z-index: 3;
  bottom: fmt(40);
  right: 0;
  left: 0;
  margin: auto;
  width: fmt(100);
  animation: fadeIn 2s 5s backwards;
  p {
    position: relative;
    width: 100%;
    height: fmt(25);
  }
  i {
    position: absolute;
    height: fmt(10);
    width: fmt(60);
    bottom: 0;
    margin: auto;
    border-radius: fmt(10);
  }
  p:first-of-type {
    opacity: 0;
    animation: dw_fadeUp1 2.5s infinite;
    // transform: translateY(fmt(30));
    i:nth-of-type(1) {
      transform-origin: left center;
      transform: rotate(-30deg);
      left: 0;
      background-image: linear-gradient(to left, #deb1ab 40%, rgba(192, 128, 128, .5));
    }
    i:nth-of-type(2) {
      transform-origin: right center;
      transform: rotate(30deg);
      background-image: linear-gradient(to right, #deb1ab 40%, rgba(192, 128, 128, .5));
      right: 0;
    }
  }
  p:last-of-type {
    opacity: 0;
    animation: dw_fadeUp2 2.5s infinite;
    // transform: translateY(fmt(30));
    i:nth-of-type(1) {
      transform-origin: left center;
      transform: rotate(-30deg);
      background-image: linear-gradient(to left, #d39d99 40%,  rgba(192, 128, 128, .5));
      left: 0;
    }
    i:nth-of-type(2) {
      transform-origin: right center;
      transform: rotate(30deg);
      background-image: linear-gradient(to right, #d39d99 40%,  rgba(192, 128, 128, .5));
      right: 0;
    }
  }

}
@keyframes dw_fadeUp {
  from {
    opacity: 0;
    transform: translateY(fmt(30));
  }
}
.dw_sn_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fmt(260);
    .dw_sn_footer_title {
      font-family: 'SourceHanSansCN-Regular';
      font-size: fmt(24);
      height: fmt(100);
      position: relative;
      z-index: 4;
      display: flex;
      justify-content: center;
      animation: dw_fadeUp 1s backwards;
      > p {
        width: fmt(40);
        height: fmt(40);
        margin: auto;
        background: url("../assets/images/rightArrow.svg") no-repeat right center;
        background-size: cover;
        transform: rotate(-90deg);
      }
    }
    .dw_sn_footer_circle {
      width: fmt(100);
      height: fmt(100);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      &::after {
        content: '';
        position: absolute;
        top: fmt(100);
        right: 0;
        left: 0;
        margin: auto;
        width: fmt(6);
        height: fmt(0);
        background-image: -webkit-linear-gradient(to bottom, #cc9986, #fceed6);
        background-image: linear-gradient(to bottom, #cc9986, #fceed6);
        animation: dw_circle_line 2.5s infinite;
      }
      @keyframes dw_circle_line {
        50% {
          height: 0;
        }
        100%{
          height: fmt(160);
        }
      }
      > i {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        z-index: 1;
        border: fmt(6) solid #e4c0ad;
      }
      > span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        // border-radius: 50%;
        // background: -webkit-linear-gradient(to bottom right, #fceed6, #cc9986);
        // background: linear-gradient(to bottom right, #fceed6, #cc9986);
        // -webkit-mask: -webkit-radial-gradient(transparent fmt(44), #000 0);
        // mask: radial-gradient(transparent fmt(44), #000 0);
        background: url("../assets/images/circle.png") no-repeat center center;
        background-size:cover;
        animation: dw_fadeUp 1s backwards;
      }
      @keyframes circleShow {
        0% {
          opacity: 0;
        }
        20% {
          opacity: 1;
        }
        100% {
          transform: scale(1.6);
          opacity: 0;
          border-width: 0;
        }
      }
      @for $i from 1 through 3 {
        > i:nth-of-type(#{$i}) {
          animation: circleShow 3s .5s * $i both infinite;
        }
      }
    }
    @keyframes dw_ligthPoint_fadeIn {
      from {
        opacity: 0;
      }
    }
    @keyframes dw_ligthPoint_rotate {
      50% {
        transform: rotate(360deg);
        top: 0;
      }
      100% {
        transform: rotate(360deg);
        top: fmt(160);
      }
    }
    @keyframes dw_ligthPoint_flash {
      to {
        transform: scale(1.2);
      }
    }
    .dw_lightPoint {
      width: fmt(100);
      height: fmt(100);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      z-index: 3;
      animation: dw_ligthPoint_fadeIn 0s backwards, dw_ligthPoint_rotate 2.5s infinite;
      &::before {
        content: '';
        position: absolute;
        width: fmt(4);
        height: fmt(4);
        background: #fbf2d9;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        box-shadow: 0 0 fmt(10) fmt(6) #fbf2d9;
        animation: dw_ligthPoint_flash .1s infinite;
      }
    }
  }
</style>
