<template>
  <div class="dw_showWatch">
    <div class="dw_showWatch_top"></div>
    <div class="dw_showWatch_middle">
      <div class="dw_showWatch_back">
        <img src="../assets/images/showWatchGif.gif" alt="">
      </div>
      <div class="dw_showWatch_back">
        <img src="../assets/images/showWatch.png" alt="">
      </div>
      <div class="dw_showWatch_clock">
        <img src="../assets/images/hour.png" alt="">
        <img src="../assets/images/minute.png" alt="">
      </div>
      <div class="dw_lightLine">
        <img src="../assets/images/watchShow2.gif" alt="">
      </div>
    </div>
    <div class="dw_showWatch_foot"></div>
    <aside class="slideUpTip" @click="$router.push({'name': 'Serialnumber'})">
      <p><i></i><i></i></p>
      <p><i></i><i></i></p>
    </aside>
  </div>
</template>
<script>

</script>
<style scoped lang="scss">
@function fmt ($val) {
  @return ($val/200)+rem;
}
.dw_showWatch {
  height: 100%;
  overflow: hidden;
  background: url("../assets/images/logo.png") no-repeat center fmt(160);
  background-size: fmt(400) auto;
}
@keyframes dw_fadeUp {
  from {
    opacity: 0;
    transform: translateY(fmt(30));
  }
}
.dw_showWatch_top {
  height: fmt(160);
  background: url("../assets/images/watchShow1.gif") no-repeat center center;
  background-size: auto 100%;
}
.dw_showWatch_middle {
  height: 78vh;
  position: relative;
  .dw_showWatch_back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    > img {
      flex: none;
      object-fit: contain;
    }
  }
  @keyframes dw_hour {
    from {
      transform: rotate(-360deg);
    }
  }
  @keyframes dw_minute {
    from {
      transform: rotate(-90deg);
    }
  }
  .dw_showWatch_clock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    > img:first-of-type{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 50%;
      // width: fmt(60);
      // height: fmt(110);
      // transform: translate(32%, 38%);
      // transform-origin: 0 0;
      animation: dw_hour 5s infinite linear;
    }
    > img:last-of-type{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 50%;
      animation: dw_minute 5s infinite linear;
      // width: fmt(150);
      // height: fmt(90);
      // transform: translate(44%, -32%);
    }
  }
  .dw_lightLine {
    position: absolute;
    top: fmt(80);
    left: 0;
    right: 0;
    margin: auto;
    height: fmt(300);
    text-align: center;
    > img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }
}
@keyframes dw_fadeUp1 {
  80% {
    opacity: 1;
    transform: translateY(fmt(-30));
  }
  100% {
    opacity: 1;
    transform: translateY(fmt(-30));
  }
}
@keyframes dw_fadeUp2 {
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(fmt(-30));
  }
}
.slideUpTip {
  position: absolute;
  z-index: 3;
  bottom: fmt(40);
  right: 0;
  left: 0;
  margin: auto;
  width: fmt(100);
  animation: fadeIn 2s 5s backwards;
  p {
    position: relative;
    width: 100%;
    height: fmt(25);
  }
  i {
    position: absolute;
    height: fmt(10);
    width: fmt(60);
    bottom: 0;
    margin: auto;
    border-radius: fmt(10);
  }
  p:first-of-type {
    opacity: 0;
    animation: dw_fadeUp1 2.5s infinite;
    // transform: translateY(fmt(30));
    i:nth-of-type(1) {
      transform-origin: left center;
      transform: rotate(-30deg);
      left: 0;
      background-image: linear-gradient(to left, #deb1ab 40%, rgba(192, 128, 128, .5));
    }
    i:nth-of-type(2) {
      transform-origin: right center;
      transform: rotate(30deg);
      background-image: linear-gradient(to right, #deb1ab 40%, rgba(192, 128, 128, .5));
      right: 0;
    }
  }
  p:last-of-type {
    opacity: 0;
    animation: dw_fadeUp2 2.5s infinite;
    // transform: translateY(fmt(30));
    i:nth-of-type(1) {
      transform-origin: left center;
      transform: rotate(-30deg);
      background-image: linear-gradient(to left, #d39d99 40%,  rgba(192, 128, 128, .5));
      left: 0;
    }
    i:nth-of-type(2) {
      transform-origin: right center;
      transform: rotate(30deg);
      background-image: linear-gradient(to right, #d39d99 40%,  rgba(192, 128, 128, .5));
      right: 0;
    }
  }

}
</style>
