<template>
  <div class="hello">
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hello {
  height: 100%;
  > div {
    height: 50%;
  }
  > div:nth-of-type(1) {
    // background: url("../assets/images/xu1.svg") no-repeat center center;
    background-size: 100% auto;
  }
  > div:nth-of-type(2) {
    // background: url("../assets/images/456.png") no-repeat center center;
    background-size: 100% auto;
  }
  > div:nth-of-type(3) {
    // background: url("../assets/images/wenziquan.svg") no-repeat center center;
    background-size: auto 100%;
  }
}
</style>
